../.vscode/
*.o
xblaze
test_xblaze
source/mesh/mesh
source/mesh/test.msh
source/mesh/mesh_analysis
/build
/bin
.DS_Store
.vscode/
source/.DS_Store
data
data/*.csv
kokkos
kokkos/*
lib
lib/*
POC/__pycache__/
POC/*.xlsx
POC
notes
perf
doc
run.sh
size.sh
update.sh
QuickCMakeLists.txt
aliases.sh
html
latex
include/kokkos
test_blaze.sh